/*
Error: File to import not found or unreadable: compass/css3.
        on line 1 of css/src/todo.scss

1: @import "compass/css3";
2: 
3: body {
4:   background: #13756D;
5: }
6: 

Backtrace:
css/src/todo.scss:1
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/import_node.rb:45:in `import'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/stack.rb:79:in `block in with_base'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/stack.rb:115:in `with_frame'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/stack.rb:79:in `with_base'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `map'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/home/souri/.rvm/gems/ruby-2.2.2/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:328:in `block in watch'
/home/souri/.rvm/gems/ruby-2.2.2/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
/home/souri/.rvm/gems/ruby-2.2.2/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
/home/souri/.rvm/gems/ruby-2.2.2/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
/home/souri/.rvm/gems/ruby-2.2.2/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
/home/souri/.rvm/gems/ruby-2.2.2/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
/home/souri/.rvm/gems/ruby-2.2.2/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: compass/css3.\A         on line 1 of css/src/todo.scss\A \A 1: @import \"compass/css3\";\A 2: \A 3: body {\A 4:   background: #13756D;\A 5: }\A 6: "; }
